<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${title}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/zuarbase/apitoolbox/master/assets/style.css">
</head>
<body>
    <div class="page">
        <div class="box">
            <form action="${form_action}" method="post" autocomplete="off">

                <div class="text-center logo">
                    <img src="https://raw.githubusercontent.com/zuarbase/apitoolbox/master/assets/apitoolbox.svg"/>
                </div>
                <h4 class="modal-title text-center">${modal_title}</h4>
                <p class="text-danger text-center">${error}</p>
                <div class="form-group">
                    <input name="username" type="text" class="form-control" placeholder="Username" required="required"
                           value="${username}">
                </div>
                <div class="form-group">
                    <input name="email" type="text" class="form-control" placeholder="Email" required="required"
                           value="${email}">
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Password"
                           required="required" autocomplete="new-password">
                </div>
                <div class="form-group">
                    <input name="confirm_password" type="password" class="form-control" placeholder="Confirm Password"
                           required="required" autocomplete="new-password">
                </div>
                <input type="submit" class="btn btn-primary btn-block btn-lg" value="Register">
            </form>
        </div>
    </div>
</body>
</html>
