:root {
    --brand-color: #00C1AA;
}

body {
    color: #999;
    background-color: #f5f5f5;
}

a, a:hover {
    color: var(--brand-color);
}

.w-fit-content {
    width: fit-content;
}

.brand-color {
    color: var(--brand-color) !important;
}

.bg-brand {
    background-color: var(--brand-color);
}

.page {
     width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    min-width: 300px
}

.logo {
    margin-bottom: 20px;
}

.logo > img {
    height: 128px;
    width: 128px;
    fill: var(--brand-color);
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: var(--brand-color) !important;
    box-shadow: none !important;
    border: none;
}

.btn-primary:hover {
    font-weight: bold;
}